<h1 id="tableLabel">Weather forecast</h1>

<p style="border: gray;">
  <input type="file" style="display: none;" accept=".csv" (change)="onFileSelected($event)" #fileUpload>

  {{fileName || "Please select a file"}}

  <button class="btn btn-primary" (click)="fileUpload.click()">
    Upload
  </button>
</p>

<h1>Weather forecast import</h1>

<p>This component demonstrates fetching data from the server.</p>

<!-- p *ngIf="!forecasts"><em>Loading...</em></p> -->

<button class="btn btn-primary" (click)="onRefreshed($event)">
  Reload
</button>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp.</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperature }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
